.Footer {
    background-color: var(--Noir15);
    border-top: #930000 8px solid;
}

.Footer a {
    color: var(--GrisClair);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo-MMI1 {
    width: 75px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Reverse2D {
    display: flex;
    width: 40%;
    margin-bottom: 10%;
    padding-top: 5%;
    margin-left: 27%;
}

.Socials {
    display: inline-flex;
}

.Instagram {
    width: 48px;
}

.Linkedin {
    width: 48px;
}

.Twitter {
    width: 48px;
}

html {
    color: var(--GrisClair);
    display: flex;
    align-items: center;
    justify-content: center;
}