.Footer {
    background-color: var(--Noir15);
    border-top: #930000 8px solid;
    margin-bottom: -17px;
    padding-bottom: 20px;
}

.Footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo-MMI1 {
    width: 75px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Reverse2D {
    display: flex;
    width: 40%;
    margin-bottom: 10%;
    padding-top: 5%;
    margin-left: 27%;
}

.Socials {
    display: inline-flex;
}

.Linkedin {
    width: 48px;
    margin: auto;
    margin-left: 55px;
}

.Twitter {
    width: 48px;
    margin: auto;
    margin-left: 65px;
    margin-right: 65px;
}

.Instagram {
    width: 48px;
    margin: auto;
    margin-right: -50px;
    margin-left: -40px;
}

html {
    color: var(--GrisClair);
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterLinks {
    color: var(--Rouge);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.MailTo {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: var(--Blanc);
    text-decoration: dashed;
}

.Legals {
    text-align: center;
}

.LegalsLinks {
    color: var(--GrisClair);
}