.Header {
    background-color: var(--FullNoir);
    position: sticky;
    top: 0px;
}

.Home-Reverse {
    width: 50px;
}

.Header-Burger {
    margin-left: 310px;
    margin-top: -100%;
}

.Background { 
    background: linear-gradient(180deg, #FFFFFF 0%, #5A5A5A 0.01%, #940000 68.23%, #930000 76.04%, #000000 99.99%, #101010 100%);
    margin-top: -16px;
    margin-right: -2px;
}

.Background-2 {
    background-color: var(--FullNoir);
    color: var(--Blanc);
    font-family: var(--font);
    margin-top: -19px;
    margin-right: -1px;
}

.Bienvenue-Reverse {
    margin: auto;
    display: flex;
}

.Text-Bienvenue-Reverse {
    text-align: center;
}

.Quote-1{
    margin-left: 25px;
}

.Quote-2{
    text-align: right;
    margin-right: 25px;
}

.Text-Signature-Bienvenue-Reverse {
    text-align: right;
}