Header {
    background-color: var(--Noir15);
    position: sticky; 
    top: 0; 
}

.Header-Burger {
    margin-left: 310px;
    margin-top: -100%;
}

.header1{
    background: var(--Noir15);
    border-bottom: #930000 8px solid;
}

.header_flex{
    display: flex;

}
.logo_site{
    padding: 10px 15px;
}