.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Blanc);
    color: var(--Noir);
    width: 1520px;
    height: 100px;
    margin-top: 208px;
}

.Footer a {
    color: var(--Noir);
}
