.Titre {
    background-color: var(--Blanc);
    box-shadow: 10px;
    text-align: center;
    margin-top: 200px;
}

.IndexImage {
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.IndexButton {
    justify-content: center;
    align-items: center;
    margin-left: 630px;
}

