.en-savoir-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: var(--Blanc);
    font-size: 18px;
    border-radius: 12px;
    width: 210px;
    height: 45px;
    font-weight: bold;
    border-top: 3px solid var(--Blanc);
    border-right: 3px solid var(--Blanc);
    border-left: 3px solid var(--Blanc);
    border-bottom: 3px solid var(--Blanc);
    transition: 0.5s;
    background-color: var(--Noir);;
}
  
.en-savoir-plus::before {
    content: "";
    display: block;
}
  
.en-savoir-plus::after {
    content: "";
    display: block;
}
  
.en-savoir-plus:hover {
    opacity: .5;
}

.Background { 
    height: 864px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #5A5A5A 0.01%, #940000 68.23%, #930000 76.04%, #000000 99.99%, #101010 100%);
    margin-top: 0px;
    margin-right: -2px;
}

.Background-2 {
    height: 334px;
    left: 0px;
    top: 864px;
    background-color: var(--Noir);
    color: var(--Blanc);
    font-family: var(--font);
    margin-top: -19px;
    margin-right: -1px;
}

.Background-3 {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
}

.test {
    padding-top: 10px;
    background: rgb(147,0,0);
    background: linear-gradient( rgba(147,0,0,1) 0%, rgba(147,0,0,1) 70%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
}
.Bienvenue-Reverse {
    position: absolute;
    height: 74px;
    left: 95px;
    top: 1070px;
}

.Text-Bienvenue-Reverse {
    text-align: center;
}

.Quote-1{
    width: 248px;
    height: 50px;
    left: 10px;
    top: 893px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;

    text-align: center;

    color: var(--Blanc);
    margin-left: 25px;
}

.Quote-2{
    width: 190px;
    height: 50px;
    left: 156px;
    top: 951px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;

    text-align: center;
    
    color: var(--Blanc);
    
}

.Text-Signature-Bienvenue-Reverse {
    text-align: right;
}

.FilmText {
text-align: right;
margin-right: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.MusiqueText {
text-align: left;
margin-left: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.LivreText {
text-align: right;
margin-right: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.LieuText {
text-align: left;
margin-left: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.EspoirText {
text-align: right;
margin-right: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.CrainteText {
text-align: left;
margin-left: 20px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 38px;
color: var(--Noir30);
}

.arrow-top{
    margin-top: 50px;
    margin-bottom: 50px;
	color:var(--Noir);
	padding-top:1.8em;
	display:block;
	position:relative;
	border-color: var(--Noir);
	text-decoration:none;
    text-align: center;
	transition:all .3s ease-out;
}
.arrow-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	border:solid .13em var(--Noir);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.arrow-top:hover{
	color: var(--Noir);
	border-color: var(--Noir);
}
.arrow-top:hover:before{
	transform: rotate(360deg);
}