@font-face {
    font-family: 'Legothick';
    src: url('../fonts/legothick/Legothick.ttf');
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--Noir);
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    line-height: 1.6;
    font-weight: 700;
    color: var(--Noir);
}

p {
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Rubik';
    font-weight: 400;
    color: var(--Noir30);
    margin: 30px;
}

.HeaderText {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    color: var(--Noir);
}

.Signature {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: var(--Noir);
    text-align: center;
    justify-content: center;
    margin: auto;
}